#header-nav{
  width:100%;
  margin-left:8%;
}
#header-nav ul{
list-style-type: none;
display: flex;
}
#header-nav ul li{
  flex:1;
  display: inline;
}
#header-nav ul li a{
  text-decoration:none;
  cursor:pointer;
  color: black;
  
}
#header-nav ul a:hover{
 color:#99FFFF;
}
#btna{
	margin-top: 300px
}
#btnb{
	margin-top: 300px
}