body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
/*  background-image: url(img/bodyimg.jpg);*/
  background-repeat:no-repeat;
  background-size:cover;
  font-size: 20px;
}
#root{width:100%;}
#aim{
  width:100%;
}
#mail{
  text-align: center
}
 img{
  display:block;
  width:100px;
  max-width: 100%;
  margin:0 auto;
  

}

#contain-footer p{
  text-align: center;
}
#contain-footer{
  margin: 0 auto
}

